# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key-here

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=aichatbot
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Spring
SPRING_PROFILES_ACTIVE=dev
