EMBEDDINGS_PROVIDER=google_genai
EMBEDDINGS_MODEL=gemini-embedding-001
GROQ_API_KEY=
GOOGLE_API_KEY=
POSTGRES_DB=aichatbot
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

RAG_PORT=8000
